.text-blue {
    color: #381DDB;
}
.text-oreng {
    color: rgb(250, 72, 7);
}
.text-bla {
    color: #838383;
}
.text-img {
    font-weight: bold;
    display: flex;
    text-align: center;
    font-size: 65px;
    color: white;
    margin-top: 60px;
}